{% extends 'base.html' %}

{% block content %}
  <p>Todos</p>

  <p>Add new todo:</p>
  <form method="post" action="{% url "todo_new" %}">
    {% csrf_token %}
    {{ todo_form }}
    <button type="submit" class="btn btn-primary">
      Save
    </button>
  </form>

  <ul>
    {% for todo in todos %}
      <li>
        {{ todo.description }} | {{ todo.due_date }}
        <a href="{% url 'todo_update' todo.pk %}">edit</a>
        <form action="{% url 'todo_delete' todo.pk %}" method="POST">
          {% csrf_token %}
          <button type="submit">delete</button>
        </form>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
